.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.info * {
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: bold;
}

.socket, .data {
  width: 60%;
  margin: 5rem auto;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

input, textarea {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.3rem 0 0.3rem 1rem;
}

textarea {
  min-height: 5rem;
}

label {
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.3rem;
}

button {
  margin-bottom: 0.2rem;
  width: 15rem;
  height: 2rem;
  background-color: #282c34;
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}